input::placeholder,
textarea::placeholder {
  color: #bbb !important;
  font-style: italic;
  opacity: 1;
}

.stacked-pad-top {
    padding-top: .5rem !important;
}

.hero-margin-bottom {
    margin-bottom: 1rem !important;
}